

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
h1, h2, h3, h4 {
    line-height: 1.5;
}

body {
    font-family: 'Open Sans', Helvetica Neue, Helvetica;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

h2 {
    font-size: 21px;
}

.main {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem 1rem;
}

.sidebar {
    position: fixed;
    overflow:scroll;
     top: 30px;
     left: 0;
     bottom: 0;
     width: 20rem;
     padding: 2rem 1rem;
     background-color: #f8f9fa
 }

.map_marker_tooltip{
    text-align: left;
}

#table-container {
    height:50vh;
    overflow:scroll;
    border: solid 1px grey;
}

#map-container {
    height:30vh;
}

#map-id {
    margin-top:50px;
}